@import "../../styles/variables";

.empty-list {
    padding: 4rem;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.4rem;

    color: $helper;
    
    span {
        padding-top: 0.5rem;
    }
}
