@import "../../styles/variables";

.search-wrapper {
    position: relative;
    display: flex;

    .search {
        border: 1px solid $helper;
        border-radius: 0.5rem;
        height: 90%;
        width: 50rem;
        padding: 0.2rem 2.3rem 0.2rem 3rem;
        outline: 0;
        background-color: $main-bg;

        &:hover,
        &:focus {
            border: 0.1px solid $primary;
            background-color: $white;
        }

        &::placeholder {
            color: gray;
        }
    }

    .search-icon {
        position: absolute;
        top: 0.4rem;
        left: 1rem;
        width: 1.4rem;
        color: gray;
    }
}
