@import "../../styles/variables";

.collection-list {
    min-height: 75vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 1rem;
    align-items: start;
    justify-items: center;
    width: 100%;
    padding-block: 1rem;
}
